# OS
#------------------------
.DS_Store
*~


# Py/Jupter/TF/Keras
#------------------------
*/checkpoint
.ipynb_checkpoints
*.ckpt*
*.pyc
__pycache__


# R
#------------------------
.Rapp.history


# Dirs
#------------------------
data/
*logs/


